name: Build and Deploy Code

on:
  workflow_dispatch: {}
  push:
    branches: ['*']
  pull_request:
    branches: ['main']

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: pulling git repo
        uses: actions/checkout@v3
      - name: say hello to arpit
        run: echo "hello arpit!!"